{% extends "layouts.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h1>ADMIN PAGE</h1>
    <div class="jumbotron text-center">
          <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                              <th>ID</th>
                              <th>name</th>
                              <th>username</th>
                              <th>LEVEL</th>
                              <th>CHANGE</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>username</th>
                                <th>LEVEL</th>
                                <th>CHANGE</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          <form action="/user/{{users[0]}}" id="changeauth" method="POST">
                            <label for="fname">Firstname:</label>
                            <input class="btn btn-primary" type="submit">
                          </form>
                          <br>
                          
                          <label for="cars">Choose a car:</label>
                          <select id="cars" name="auth" form="changeauth">
                            <option value="1">관리자</option>
                            <option value="2">일반유저</option>
                            <option value="3">게스트</option>
                          </select>
                          
                          <tr>
                            <th scope="row">{{ users[0]}}</th>
                            <td>{{ users[1] }}</td>
                            <td>{{ users[3] }}</td>
                            <td>{{ users[6] }}</td>
                            <td><form action="/change_level/{{ users[0] }}" method="POST" onsubmit="return confirm('정말 변경하시겠습니까?')"><button type="submit" class="btn btn-danger">CHANGE</button></form></td>
                          </tr>
                            
                        </tbody>
                      </table>
                      <a href="/" class="btn btn-primary">돌아가기</a>
                    </div>
                  </div>
                </div>
              <hr>
      </div>
{% endblock %}