<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="Interval">

    </div>
    <button onclick="starInterval()">1</button>
    <button onclick="stopInterval()">2</button>
    <script>

      function showData(){
			$(document).ready(function(){
                $.get('http://localhost:8000/data' , function (result) {
                console.log("fwfwef")
                console.log(result)
                // dataArray = JSON.parse(result)
                randomNum = Math.random()
                document.getElementById("Interval").innerHTML=`${result}<h1>fwefwefwefwefwfewefwfwefwef</h1>`
            })
        })
		}

		function starInterval(){
			showData()
			termId = setInterval(showData , 1000)

		}

		function stopInterval(){
			clearInterval(termId)
		}
    </script>

    
</body>
</html>