<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!!</h1>
</body>
</html> 
{% extends "layouts.html" %}
{% block body %}
    <div class="jumbotron text-center">
    <h1 class="display-4">Flask Tutorial</h1>
    <p class="lead">This Application is build using by python and Flask Framework</p>
    <hr class="my-4">
    <a class="btn btn-warning btn-lg" href="/" role="button">Learn more</a>
  </div>
{% endblock %}